* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	display: flex;
	background: -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
		-webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 76%);
	height: 100vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.App-nav {
	width: 50%;
	display: flex;
	margin: 1rem auto;
	justify-content: space-around;
}

.photo {
	width: 450px;
	height: 350px;
	padding-bottom: 50px;
}

.deadpool {
	width: 700px;
	height: 300px;
}

h1 {
	cursor: default;
}

.App-nav-link {
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	transition: all 0.4s ease-out;
	font-family: Arial, Helvetica;
}

.App-nav-link:hover {
	color: rgba(255, 160, 65, 0.9);
	cursor: pointer;
}

.active-link {
	color: rgba(255, 78, 65, 0.9);
	border-bottom: 1px solid;
}

.frame {
	display: flex;
	justify-content: center;
	width: 612px;
	padding: 70px 35px 20px 35px;
	border: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	box-shadow: 0px 4px 12px 6px #ccc;
	background: -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
		-webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 76%);
	border-radius: 10px;
}
